@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
} 

nav{
  position: fixed;
  display: flex;
  height: 80px;
  width: 100%;
  background: #000000;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 100px;
  flex-wrap: wrap;
}
nav .logo{
  color: #fff;
  font-size: 35px;
  font-weight: 600;
}
nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}
nav ul li{
  margin: 0 5px;
}
nav ul li a{
  color: #f2f2f2;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}
nav ul li a.active,
nav ul li a:hover{
  color: #111;
  background: #fff;
}
nav .menu-btn i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
}


/*.intro {
	position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}*/

.introduction {
	/* From https://css.glass */
	background: rgba(255, 255, 255, 0.2);
	border-radius: 16px;
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	backdrop-filter: blur(5.2px);
	-webkit-backdrop-filter: blur(5.2px);
	border: 1px solid rgba(255, 255, 255, 0.18);
	padding: 20px;
	position: fixed;
	width: 87%;
	top: -320px;
	height: 1980px;
}

.introduction hr {
	width: 80%;
	margin-left: 35px;
	color: black;
}

.introduction h1 {
	font-size: 60%;
	text-align: left;
	bottom: 100px;
	font-weight: bold;
	/*background-color: #adadad;
	border-radius: 40px;*/
	width: 300px;
	padding: 10px;
}

.introduction h2 {
	padding-left: 25px;
	padding-top: 5px;
	font-size: 30%;
	/*padding: 10px;*/
	color: white;
	border-radius: 50px;
	height: 30px;
	background-color: #1b1b1b;
}

.visi {
	position: relative;
	width: 20%;
	margin-left: 10px;
	text-align: left;
}

.misi {
	position: relative;
	width: 20%;
	margin-left: 10px;
	text-align: left;
}

.tujuan {
	position: relative;
	width: 26%;
	margin-left: 10px;
	text-align: left;
}

.divisi {
	position: relative;
	width: 23%;
	margin-left: 10px;
	text-align: left;
}

.pertanyaanj {
	position: relative;
	width: 35%;
	margin-left: 10px;
	text-align: left;
}

.introduction p {
	padding: 10px;
	font-weight: normal;
	font-size: 35%;
	text-align: left;
}

.introduction img {
	width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.introduction p span {
	font-weight: bold;
}

.justline {
	background-color: black;
	height: 2px;
	width: 50%;
	border-radius: 50px;
	opacity: 30%;
}

.galery-tik img {
	box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
	width: 50%;
	border-radius: 10px;
}


.copyright {
	width: 200px;
	height: 2200px;
}


input[type="checkbox"]{
  display: none;
}
@media (max-width: 1000px){
  nav{
    padding: 0 40px 0 50px;
  }
  nav .logo span{
  	color: #ECB365;
  }
  
}
@media (max-width: 920px) {
  nav .menu-btn i{
    display: block;
  }
  
  
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  nav .logo{
  	position: relative;
  	font-size: 20px;
  	left: -20px;
  }
  nav .logo span{
  	color: #ECB365;
  }
  nav ul{
    position: fixed;
    top: 80px;
    left: -100%;
    background: #111;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }
  #click:checked ~ ul{
    left: 0;
  }
  nav ul li{
    width: 100%;
    margin: 40px 0;
  }
  nav ul li a{
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  #click:checked ~ ul li a{
    margin-left: 0px;
  }
  nav ul li a.active,
  nav ul li a:hover{
    background: none;
    color: cyan;
  }
}
.content{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div{
  font-size: 40px;
  font-weight: 700;
}
